body {
    background-color:rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}


.side_div {
    justify-content:space-between;
}

#listingstitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.side_div div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Make_a_Listings, .My_Account{
    font-weight: 700;
    font-size: 25px;
}

#logo {
   width: 200px;
}

.listing img{
    width: 300px;
    border-width: 5px;
    border-style: solid;
}

.list{
    display: flex;
    justify-content: space-around;
}

.listing{
    background-color:lightgray;
    flex-direction: column;
    justify-content:space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 10px;
    border-radius:5px;
    border-width:5px;
    border-style: solid;
    border-color:darkslategray;
}

.sublisting{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

p{
    font-weight: 100;
}

.category{
    background-color: rgb(165, 255, 200);
    padding: 10px;
    border-style: solid;
}

.toptext{
    display: flex;
    justify-content: space-between;
}

.listing img {
    border-radius: 10px;
    border-color: black;
}

.lst{
    display:flex;
    justify-content:space-evenly;
    background-color:gray;
}

#main{
    display: flex;
    position: fixed;
    z-index: -1;
    flex-direction: column;
}

nav {
    background-color:rgb(200, 200, 200);
    margin-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;

}

input, button{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    color:rgb(0, 0, 0);
}

.drop-element, .about-element {
    display:flex;
    justify-content:space-evenly;
}

a {
    text-decoration:none;
    color:rgb(0, 0, 0);

}

.Make_a_Listings{
    display: flex;
    flex-direction: column;
}

.Make_a_Listings button{
    height: 35px;
    font-weight: 600;
    background-color: rgb(250, 191, 135);
}

.Searchbar button{
    height: 35px;
    font-weight: 600;
    background-color: rgb(250, 191, 135);
}

.Make_a_Listings input{
    height: 10px;
}

.Make_a_Listings form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: rgb(250, 191, 135);
    padding: 5px; 
    display: flex; 
    justify-content: space-around; 
    border-radius: 10px;
    border-color: black;
    border-radius:5px;
    border-width:5px;
    border-style: solid;
}
 
.drop-element {
    color: black;
    background-color: Transparent;
    font-size: 14px; 
}
 
.about-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    padding: 5px;
}

.about-content a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 10px;
    border-width: 3px;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}
 
.about-content a:hover {
    background-color: rgb(158, 202, 121);
}



.dropdown:hover .about-content {
    display: block;
    font-size: 14px;
}

.side_div {
    background-color: rgb(158, 202, 121);
    padding: 5px; 
    display: flex; 
    justify-content: space-around; 
    border-radius: 10px;
    border-color: black;
    border-radius:5px;
    border-width:5px;
    border-style: solid;
}

.Searchbar {
    float: left;
    }
    input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-width: 2px;
    }

    button {
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(250, 191, 135)
    }

    button:hover {
    background: gray;
    }

footer{
    background-color: rgb(250, 191, 135);
    padding: 5px; 
    display: flex; 
    justify-content: space-around; 
    border-radius: 10px;
    border-color: black;
    border-radius:5px;
    border-width:5px;
    border-style: solid;
    font-weight: bolder;
    flex-direction: column;
    align-items: center;
}

.emails{
    display: flex;
    justify-content: space-evenly;
}

.info{
    color: black;
}